.preview-add-comment {
  display: flex;
  align-items: center;
  justify-items: center;
  .add-comment-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    color: inherit;
    padding-block: 0;
    padding-inline: 0;
    width: calc(100% - 50px); /* Adjust width as needed */
    flex: 1;
  }
  .post-button {
    color: #0095f6;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    background: none;
    border: none;
    // font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    // margin-left: auto;
    padding: 0px 8px;
  }
  .preview-comment-emoji {
    display: flex;

    cursor: pointer;

    &:hover {
      color: #737373;
    }
  }
  .preview-comment-buttons {
    display: flex;
    align-items: center;
    justify-items: center;
  }
}
