.comment{
    display:flex;
}
.username{
    font-size: 14px;
    font-weight: bold;
    font-family:'Segoe UI', sans-serif;
    white-space: nowrap;
    padding-right: 5px;
}
.comment-text {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    flex-grow: 1; 
  }