.nav-bar {
    position:fixed;
    display: flex;
    flex-direction: column;
    
    grid-column: 1;
    align-items: center;
    padding: 1rem;
    
}

.nav-text {
    display: none;
    margin-right: 16px;
    @include for-wide-layout {
        display: inline;
    }
}
.nav-instagram-icon{
    display: inline;
    @include for-wide-layout {
        display: none;
    }
}
.nav-instagram-text{
    display: none;

    @include for-wide-layout {
        display: inline;
    }
}
.nav-more {
    margin-top: auto;
}
