.story-preview {
  display: grid;
  grid-column: 2;
  grid-template-rows: 46px auto 40px 24px auto 24px 24px;
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  margin-bottom: 20px;
  max-width: 470px;
  justify-self: center;
  .comment {
    .circle-container {
      display: none;
    }

    .like-button-icon {
      display: none;
    }
  }

  .image-section {
    grid-row: 2;
    max-width: 100%;
    height: auto;
  }
  .story-image {
    grid-row: 2;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  .square-container {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .story-info {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
    padding-left: 4px;
    max-width: 100%;

    .story-info-button {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-items: center;
    }

    .story-info-text {
      align-items: center;
    }

    .username {
      font-weight: bold;
    }

    .story-location {
      font-size: 12px;
    }
  }

  .actions-section {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    position: relative;

    .action-button:first-child {
      padding-left: 0px;
    }
    .action-button:has(.save-button) {
      margin-left: auto;
      padding-right: 0px;
    }

    .action-button {
      border: 0;
      padding: 8px;
      cursor: pointer;

      &:hover {
        color: #737373;
      }
    }
  }

  .story-bold-link {
    font-weight: bold;
    cursor: pointer;
  }

  .likes-section {
    grid-row: 4;
    max-width: 100%;
  }

  .story-text {
    grid-row: 5;
    gap: 4px;
    margin-top: 8px;
    width: 470px;
    max-height: 100%;
    .story-username {
      white-space: nowrap;
    }
    .story-comment-text {
      // overflow: hidden;
      // text-overflow: ellipsis;
      // flex-grow: 1;
      // word-wrap: break-word;
      // white-space:wrap;
      // max-width:100%;
      // overflow: hidden;
    }
  }

  .story-preview-comments {
    grid-row: 6;
    cursor: pointer;
    margin-top: 8px;
    max-width: 100%;
  }

  .preview-add-comment {
    grid-row: 7;
    // display: flex;
    margin-top: 8px;
    // align-items: center;
    // justify-content: space-between;
    max-width: 100%;
  }
}
