
.story {
  display: grid;
  grid-template-rows: 46px auto 40px 18px 18px 18px 18px;
}

.image-section {
  grid-row: 2;
  width: fit-content;
}

.story-info {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  .story-info-button {
    margin-left: auto;
    align-items: center;
  }

  .story-info-text {
    align-items: center;
  }

  .username {
    font-size: 14px;
    font-weight: bold;
  }

  .story-location {
    font-size: 12px;
  }
}

.actions-section {
  display: flex;
  align-items: start;

  .action-button:has(.save-button) {
    margin-left: auto;
  }

  .action-button {
    border: 0;
    padding: 8px;
    cursor: pointer;

    &:hover {
      color: #737373;
    }
  }
}