.circle-container {
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
    overflow: hidden;

    .story-view &{
      width: 32px; 
      height: 32px; 
    }
  }
  
  .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* maintain aspect ratio */
  }