.story-view {
  display: flex;
  font-size: 14px;
  margin: 51px 20px 16px;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  margin-bottom: 20px;
  justify-self: center;
  height: 599px;
  .image-container {
    display: flex;
    // width: 100%;
    // max-width: 599px;
    aspect-ratio: 1;
    margin: 0 auto;
    position: relative;
    align-items: center;
    background-color: black;
    &::before {
      content: "";
      display: block;
      padding-top: 100%; // 1:1 aspect ratio
    }
    .story-image {
      width: 100%;
      height: fit-content;
      overflow: hidden;
    }
  }

  .square-container {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .story-sidebar {
    display: flex;
    flex-direction: column;
    .story-info {
      display: flex;
      align-items: center;
      padding: 14px 16px 16px 14px;
      max-width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

      .story-info-button {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .story-info-text {
        align-items: center;
      }

      .username {
        font-weight: bold;
      }

      .story-location {
        font-size: 12px;
      }
    }
    .interactions-container {
      padding: 6px 16px;
      .actions-section {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        position: relative;

        .action-button:has(.save-button) {
          margin-left: auto;
        }

        .action-button {
          border: 0;
          padding: 8px;
          cursor: pointer;

          &:hover {
            color: #737373;
          }
        }
      }
      .likes-section {
        width: 100%;
      }
    }
    .comment-section-container {
      display: flex;
      width: 380px;
      flex: 1;
      height: 1%;

      border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
      .comment-section {
        padding: 0px 16px;
        overflow-y: scroll;
        flex: 1;
      }
    }
  }

  .story-bold-link {
    font-weight: bold;
    cursor: pointer;
  }

  .story-add-comment {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
}
