.story-view {
  display: flex;
  font-size: 14px;
  padding: 51px 20px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  margin-bottom: 20px;
  justify-self: center;

  // .comment {
  //   .circle-container {
  //     display: none;
  //   }

  //   .like-button-icon {
  //     display: none;
  //   }
  // }

  .image-container {
    display: flex;

    width: 599px;
    height: 599px;
  }

  .story-image {
    width: 599px;
    height: fit-content;
  }

  .square-container {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .story-info {
    display: flex;
    // flex-direction: column;
    align-items: center;
    padding: 14px 16px 16px 14px;
    max-width: 100%;

    .story-info-button {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .story-info-text {
      align-items: center;
    }

    .username {
      font-weight: bold;
    }

    .story-location {
      font-size: 12px;
    }
  }

  .actions-section {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    position: relative;

    // .action-button:first-child {
    //   padding-left: 0px;
    // }
    .action-button:has(.save-button) {
      margin-left: auto;
      // padding-right: 0px;
    }

    .action-button {
      border: 0;
      padding: 8px;
      cursor: pointer;

      &:hover {
        color: #737373;
      }
    }
  }

  .story-bold-link {
    font-weight: bold;
    cursor: pointer;
  }

  .likes-section {
    width: 100%;
  }

  .story-view-comments {
    cursor: pointer;
    margin-top: 8px;
    max-width: 100%;
  }

  .story-add-comment {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
  .comment-section-container {
    width: 380px;
    height: 318px;
    overflow-y: auto;
  }
  .comment-section {
    padding: 0px 16px;
  }

  .interactions-container{
    padding: 6px 16px;
  }
}
